@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
} 

#contactPoster{
 background-image: url('../Images/Contact.jpg');
 background-repeat: no-repeat;
 height:400px;
 width: 80%;
 background-size: 100% 100%; 
 margin: auto;
 margin-top: 20px;
 border-radius: 10px;
}
#contactPoster h1{
  text-shadow: 3px 3px black;
  color:white;
  text-align: center;
  padding-top: 125px;
}
#contactPoster h4{
  text-shadow: 3px 3px black;
  color: white;
  text-align: center;
   width: 80%;
   padding-left: 267px;
   margin-top: 5px;
   
}