.LoginContainer{
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 450px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  align-items: center;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none;
  border-radius: 10px;
}
.LoginContainer img{
  align-items: center;
}
.formContainer{
  margin-top:20px ;
}
.formContainer form,.inputLabel{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputLabel{
  gap:5px;
}
.inputLabel input{
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline: none;
}
.formContainer button{
  height: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  border: none;
  color: rgb(116,193,20);
  cursor: pointer;
  margin-top: 20px;
}
.Link{
  margin-top: 20px;
  display: flex;
  gap:'20px';
}